# python virtual environment
.venv

__pycache__

# env files
.env*
!.env.example

# audio files
*.mp3
*.wav
*.ogg
*.flac
*.m4a
*.webm

# system files
.DS_Store
Thumbs.db

# temporary machine specific files
makefile
bench-results